/* ---------------------------------
  初期設定
---------------------------------- */
input, button, textarea, select, div {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

*:focus {
  outline: none;
}



/* ---------------------------------
  背景
---------------------------------- */
body {
  background-color: #008BC9;
  overflow: hidden;
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #007AB1;
}

#kanban {
  padding: 4px;
  display: flex;
  overflow: scroll;
}

.list-container {
  margin: 4px;
  height: 830px;
}

.list {
  width: 256px;
  background-color:	#E5E9EB;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px;
}

.list-title {
  position: relative;
  border: 2px solid transparent;
  padding: 4px;
  width: 228px;
  left: -28px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

.edit-list-input {
  position: relative;
  background-color: white;
  border: 2px solid #68B3D7;
  padding: 4px;
  width: 216px;
  left: -28px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.add-list-btn {
  width: 256px;
  background-color:	#007DB5;
  border-radius: 4px;
  padding: 8px;
  justify-content: center;
  color: #D5E7F1;
  cursor: pointer;
  font-size: 12px;
  margin: 4px;
  border: 0;
}

.add-list-btn:hover {
  background-color:	#006FA1;
}

.add-list-container {
  width: 256px;
  background-color:	#E5E9EB;
  border-radius: 4px;
  padding: 3px;
  margin: 4px;
}

.add-list-input {
  background-color: white;
  border: 2px solid #68B3D7;
  padding: 8px;
  width: 236px;
  border-radius: 4px;
  font-size: 12px;
}

.add-list-btns-container {
  position: relative;
  border: 0;
  margin: 1px;
}






/* ---------------------------------
  カード
---------------------------------- */
.card {
  display: block;
  width: 238px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  border-bottom: 1px solid lightgray;
  margin-top: 6px;
  padding: 8px;
  cursor: pointer;
}

.card:hover {
  background-color: #F7F8F9;
}

.card-edit-icon {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: rgba(247, 248, 249, 0.8);
  border-radius: 4px;
  border: 0;
  top: -8px;
  right: -8px;
  color: #8A9EA9;
}

.card-label {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  margin-bottom: 7px;
}

.card-text {
  word-wrap: break-word;
  font-size: 12px;
  margin: 0;
  /* margin-top: 4px; */
  /* padding-top: 3px; */
  padding-left: 2px;
}

/* .card-moveup-btn {
  position: relative;
  top: -16px;
  left: 210px;
  background-color: white;
  border: 1px solid whitesmoke;
  width: 16px;
  height: 16px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 0;
  font-size: 8px
}

.card-movedown-btn {
  position: relative;
  top: -16px;
  left: 210px;
  background-color: white;
  border: 1px solid whitesmoke;
  width: 16px;
  height: 16px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0;
  font-size: 8px
} */



/* ---------------------------------
  追加ボタン
---------------------------------- */
.add-todo-btn-container {
  width: 272px;
  height: 40px;
  background-color:	#E5E9EB;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; 
  padding-left: 20px;
  border: 0;
  font-size: 12px;
  color: 	#8A9EA9;
  text-align: left;
  cursor: pointer;
}

.add-todo-btn-container:hover {
  background-color:	#CED6DA;
  color: #1A495E;
  text-decoration: underline;
}

.add-todo-btn-container:active {
  background-color:	silver;
  color: #1A495E;
  text-decoration: underline;
}


/* ---------------------------------
  追加フォーム
---------------------------------- */
.add-todo-from-area {
  width: 256px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; 
  background-color:	#E5E9EB;
  padding: 8px;
  height: 100px;
}

.add-todo-input-container {
  width: 256px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; 
  background-color:	#E5E9EB;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.add-todo-card {
  display: block;
  width: 238px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  border-bottom: 1px solid lightgray;
  margin-top: -2px;
  margin-bottom: 4px;
  padding: 8px;
}

.add-todo-input {
  width: 236px;
  max-height: 200px;
  background-color: transparent;
  border: 0;
  margin-top: -2px;
  font-size: 12px;
  word-wrap: break-word;
}

.add-todo-btns-container {
  position: relative;
  width: 256px;
  height: 40px;
  background-color:	#E5EAEB;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; 
  border: 0;
  margin-top: 4px;
}

.add-todo-btn {
  background-color: #63B85B;
  border: 1px solid #63B85B;
  border-bottom: 1px solid #4A8032;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
}

.add-todo-btn:hover {
  background-color: #5BA64E;
}

.add-todo-cancel-btn {
  position: relative;
  border-radius: 4px;
  height: 28px;
  width: 28px;
  background-color: transparent;
  color:	#8A9EA9;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  top: 3px;
}

.add-todo-cancel-btn:hover {
  color:	#1A495E;
}

.add-todo-option-btn {
  position: relative;
  border-radius: 4px;
  height: 28px;
  width: 28px;
  background-color: transparent;
  color:	#8A9EA9;
  border: 0;
  font-size: 10px;
  cursor: pointer;
  bottom: 2px;
  left: 111px;
}

.add-todo-option-btn:hover {
  color:	#1A495E;
  background-color: #CED6DA;
}

.label-btn {
  width: 40px;
  height: 20px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}



/* ---------------------------------
  オプションメニュー
---------------------------------- */
.option-menu-container {
  position: fixed;
  width: 256px;
  background-color: white;
  border-radius: 4px;
  padding-bottom: 8px;
}

.option-menu-title {
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
  color: #8A9EA9;
}

.option-menu-cancel-btn {
  position: absolute;
  background-color: transparent;
  color:	#8A9EA9;
  border: 0;
  font-size: 20px;
  top: 4px;
  left: 226px;
}

.option-menu-cancel-btn:hover {
  color:	#1A495E;
}

.option-menu-line {
  background-color: #CED6DA;
  height: 1px;
  margin: 8px;
  /* margin-bottom: 8px; */
}

.option-menu-text {
  font-size: 12px;
  font-weight: bold;
  color: #1A495E;
  padding-left: 8px;
  padding-bottom: 8px;
}

.option-menu-btn {
  width: 256px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #1A495E;
  text-align: start;
  border: 0;
}

.option-menu-btn:hover {
  background-color:	#25A0D3;
  color: white;
}



/* ---------------------------------
  編集ビュー
---------------------------------- */
.over-view {
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.edit-container {
  position: fixed;
  display: flex;
}

.edit-card {
  display: block;
  width: 236px;
  padding: 8px;
  padding-bottom: 0px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  border-bottom: 1px solid lightgray;
}

.edit-todo-btn {
  background-color: #63B85B;
  border: 1px solid #63B85B;
  border-bottom: 1px solid #4A8032;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}

.edit-side-btn {
  border-radius: 4px;
  background-color: #001828;
  color: white;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
  margin-top: 0px;
  margin-left: 8px;
  border: 0;
  cursor: pointer;
  display: block;
}

.edit-side-btn:hover {
  background-color: #008BC9;
}